
.container {
    width: 40%;
    margin: auto;
    margin: 20px auto 0px;
}

input {
    width: 100%;
    border: 1px solid #c3c3c3;
    border-radius: 5px;
    padding: 10px;
    outline: none;
    margin: 15px 0 30px 0;
    box-sizing: content-box;
}

input:focus {
    box-shadow: 0px 0px 3px 1px #36ccff;
}

h1 {
    color: #5a5a5a;
}

.task-list {
    padding: 0;
}

.task-list li {
    list-style: none;
    border: 1px solid gray;
    border-top: none;
    display: flex;
    justify-content: space-between;
    padding: 0 15px;
    align-items: center;
}

.list-group-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.buttons button {
    width: 42px;
    height: 36px;
    border: none;
    background: none;
    outline: none;
    border-radius: 5px;
}

.task {
    padding: 5px;
    width: 70%;
    margin-bottom: 0;
    transition: all 0.3s ease-out;
    overflow-wrap: break-word;
}

.task:hover {
    cursor: pointer;
}

.task.decor {
    text-decoration: line-through;
}

.task.active {
    box-shadow: 0px 0px 3px 1px #36ccff;
    border-radius: 3px;
    outline: none;
}
 

.buttons .active-button-edit, .buttons .button-edit:hover {
   background-color: #007bff;
}

.buttons .active-button-edit > .fa-edit {
    color: #ffffff;
}

.buttons .button-delete:hover {
    background-color: #dc3545;
}

.fa-trash {
    color:  #dc3545;
}

.fa-edit {
    color:  #007bff;
}

.buttons .button-delete:hover > .fa-trash {
    color: #ffffff;
}

.buttons .button-edit:hover > .fa-edit {
    color: #ffffff;
}


